.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.align-items(@position) {
	-webkit-align-items: @position;
	-moz-align-items: @position;
	-ms-align-items: @position;
	align-items: @position;
}