@import '../common/variables';
@import '../common/mixins';

/// =============== Base Styling ===================

@navbar-action-width: 18%;
@navbar-action-max-width: 6em;
@navbar-color: @blue;

/// =============== Base Styling ===================

.navbar {
	.flexbox();
	.align-items(center);
	.box-shadow(0px 2px 4px 0px rgba(50, 50, 50, 0.20));
	width: 100%;
	height: @navbar-height;
	line-height: @navbar-height;
	background-color: @navbar-color;
	text-align: center;
	color: #ffffff;
}

.navbar.navbar-top {
	top: 0;
}

.navbar.navbar-bottom {
	bottom: 0;
}

.navbar.navbar-fixed {
	position: fixed;
	left: 0;
}

/// ============ Right & Left Actions ==============

.navbar-action {
	position: relative;
	width: @navbar-action-width;
	max-width: @navbar-action-max-width;
	float: left;
	height: 100%;
	cursor: pointer;
}

.navbar-action:active::after {
	content: "";
	position: absolute;
	top: (@navbar-height - (@navbar-height * 0.8)) / 2;
	left: 50%;
	margin-left: -((@navbar-height * 0.8) * 0.5);
	height: @navbar-height * 0.8;
	width: @navbar-height * 0.8;
	border-radius: @navbar-height / 2;
	background-color: #ffffff;
	opacity: 0.1;
}

.navbar-action.navbar-action-left { }

.navbar-action.navbar-action-right { }

/// =============== Navbar Content =================

.navbar-title {
	.flex(1);
	float: left;
	height: 100%;
}